<div class="login-background-wrapper">
  <div class="login-background">
      <div class="title-container">
        <div class="title-spacer">
          <h1>Registro Único de Audiencias de Gestión de Intereses del Poder Ejecutivo Nacional</h1>
        </div>
      </div>
    </div>
  <div class="login-card-container">

  <% if @expired %>
    <div class="login-card message">
      <div class="message-align">
        <p>
          Ha expirado el tiempo disponible para cambiar su contraseña.
        </p>
        <p>
          Por favor solicite un nuevo cambio <%= link_to "acá", send_password_reset_form_path %>
        </p>
      </div>
    </div>
  <% elsif @changed %>
    <div class="login-card message">
        <div class="message-align">
          <p>
            Los cambios han sido guardados.
          </p>
          <p>
            Ya puede <%= link_to "ingresar", login_path %> con su nueva contraseña.
          </p>
        </div>
      </div>
  <% else %>
    <%= form_for @user, html: { class: 'login-card change-password'}, url: password_reset_path(params[:token]) do |f| %>
      <div class="align">
        <%= f.label :password, 'Nueva contraseña' %>
        <%= f.password_field :password %> 

        <% if @user.errors.any? %>
          <% for message in @user.errors.full_messages %>
            <p><%= message %></p>
          <% end %>
        <% end %>

        <div class="submit">
          <%= f.submit "Actualizar contraseña" %>
        </div>
      </div>
    <% end %>
  <% end %>
    

  </div>
</div>



