<% if (renderMode != 'normal') { %>
  <div class="edit-veil"></div>
<% } %>

<div class="top-menu-container">
  <img src="/assets/icon-configurar.svg" class="toggle-menu-icon show-top-menu">
  <img src="/assets/icon-configurar-select.svg" class="toggle-menu-icon hide-top-menu hidden">
  <div class="top-menu hidden">
    <div class="top-menu-action" id="add-sub-dependency">Agregar subdependencia</div>
    <div class="top-menu-action" id="edit-users">Editar dependencia y/o usuarios</div>
    <div class="top-menu-action" id="remove-users">Dar de baja dependencia y/o usuarios</div>
    <% var currentUserId = audiencias.globals.currentUser
    var operators; 
    if (dependency.get('obligee') && dependency.get('obligee').users) {
      operators = _.collect(dependency.get('obligee').users, function(u) { return u.id; });
    } else {
      operators = [];
    }
    var currentUserIsAlsoOperator = operators.indexOf(currentUserId) > -1;
    if (currentUserIsAlsoOperator) { %> 
      <a href="/intranet/audiencias/<%= dependency.get('obligee').id %>">
        <div class="top-menu-action" id="see-dependency-audiencees">Ver audiencias</div>
      </a>
    <% } %>
  </div>
</div>
<div class="cancel-mode">
  <span id="cancel"><img src="/assets/icon-cancelar.svg"> Cancelar</span>
</div>

<div class="title">
  
  <% if (renderMode == 'normal') { %>
  
    <div class="title-name">
      <%= dependency.get('name') %>
    </div>
    <div class="title-buttons">
      <button id="see-admins" class="<%= showingAdmins ? 'hidden' : '' %>">VER ADMINISTRADORES</button>
      <button id="hide-admins" class="<%= showingAdmins ? '' : 'hidden' %>">OCULTAR ADMINISTRADORES</button>
    </div>
  
  <% } else if (renderMode == 'remove') { %>

    <div class="title-name">
      <%= dependency.get('name') %>
    </div>
    <div class="title-buttons">
      <button id="remove-dependency">BAJA</button>
    </div>

  <% } else if (editingTitle) { %>

    <div class="title-form">
      <input type="text" class="title-input" value="<%= dependency.get('name') %>">
    </div>
    <div class="title-buttons">
      <button id="cancel-edit-dependency">CANCELAR</button>
      <button id="confirm-edit-dependency">CONFIRMAR</button>
    </div>

  <% } else { %>

    <div class="title-name">
      <%= dependency.get('name') %>
    </div>
    <div class="title-buttons">
      <button id="edit-dependency">EDITAR</button>
    </div>

  <% } %>
</div>

<div class="menu-lists"></div>

<div class="confirmation-container">
  <button id="confirm-actions">FINALIZAR</button>
</div>