<% var disabledIfEditing = mode == 'edit' ? 'disabled' : ''; %>
<% var obligee = dependency.get('obligee') %>
<div class="label">Tipo y nro. de documento</div>
<div class="type-and-doc">
  <select class="id-type-select" <%= disabledIfEditing%>>
    <% var id_type = obligee ? obligee.person.id_type : '' %>
    <option value="dni" <%= id_type == 'dni' ? 'selected' : '' %>>DNI</option>
    <option value="lc" <%= id_type == 'lc' ? 'selected' : '' %>>LC</option>
    <option value="le" <%= id_type == 'le' ? 'selected' : '' %>>LE</option>
  </select>
  <input type="text" class="person-id-input" placeholder="00000000" 
    value="<%= obligee ? obligee.person.person_id : '' %>" <%= disabledIfEditing%>>
</div>
<div class="label">Nombre</div>
<input type="text" class="name-input"
  placeholder="Nombre" value="<%= obligee ? obligee.person.name : '' %>">
<div class="label">Apellido</div>
<input type="text" class="surname-input"
  placeholder="Apellido" value="<%= obligee ? obligee.person.surname : '' %>">
<div class="label">Cargo</div>
<input type="text" class="position-input"
  placeholder="Apellido" value="<%= obligee ? obligee.position : '' %>">
<div class="label">Mail</div>
<input type="text" class="email-input" 
  placeholder="mail@unmail.com" value="<%= obligee ? obligee.person.email : '' %>">
<div class="form-actions">
  <button class="cancel-user">CANCELAR</button>
  <button class="confirm-user">CONFIRMAR</button>
</div>
