<% var removedClass = get('markedForRemoval') ? 'removed' : '' %>
<div class="user <%= removedClass %>" data-user-id="<%= get('id') %>">
  <% var name = get('name') %>
  <span class="user-icon"><%= audiencias.helpers.initials(name) %></span> 
  <div class="user-fullname">
    <%= name %>
  </div>
  <div class="user-id">
    <%= get('id_type').toUpperCase() %> <%= get('person_id') %>
  </div>
  <div class="user-email">
    <%= get('email') %>
  </div>
  <% if (get('telephone') && get('telephone').length > 0) { %>
    <div class="user-telephone">
      Telefono <%= get('telephone') %>
    </div>
  <% } %>
  <button class="edit-user">EDITAR</button>
  <button class="remove-user">BAJA</button>
</div>