<% var removedClass = get('markedForRemoval') ? 'removed' : '' %>
<div class="user <%= removedClass %>" data-user-id="<%= get('id') %>">
  <span class="user-icon"><%= get('name')[0] + get('surname')[0] %></span> 
  <div class="user-fullname">
    <%= get('name') %> <%= get('surname') %>
  </div>
  <div class="user-id">
    <%= get('id_type').toUpperCase() %> <%= get('person_id') %>
  </div>
  <div class="user-email">
    <%= get('email') %>
  </div>
  <button class="edit-user">EDITAR</button>
  <button class="remove-user">BAJA</button>
</div>