<div class="user">
  <span class="user-icon <%= role %>"><%= name[0] + surname[0] %></span> 
  <div class="user-fullname">
    <%= name %> <%= surname %>
  </div>
  <% if (role == 'obligee') { %>
    <div class="user-position">
      <%= position %>
    </div>
  <% } %>
  <div class="user-id">
    <%= id_type.toUpperCase() %> <%= person_id %>
  </div>
  <div class="user-email">
    <%= email %>
  </div>
  <button class="edit-user">EDITAR</button>
  <button class="remove-user">BAJA</button>
</div>