<div class="editor-section" id="applicant">
  <% var applicant = audience.get('applicant'); %>
  <% if (!audience.get('editingApplicant')) { %>
    <div class="editor-section-collapsed">
      <div class="left-column">
        <span class="section-title collapsed-section-title">
          <img src="/assets/icon-marcador-derecha.svg" class="arrow">
          ¿Quién solicitó la audiencia?
        </span>
      </div>
      <div class="right-column">
        <div class="participant-card">
          <div class="participant-name">
            <%= applicant.get('person').name %> <%= applicant.get('person').surname %>
          </div>
          <div class="participant-position">
            <%= applicant.get('ocupation') %>
          </div>
          <% var country = applicant.get('person').country %>
          <div class="participant-country">
            <%= country %>
          </div>
          <div class="participant-id">
            <%= country == 'Argentina' ? applicant.get('person').id_type.toUpperCase() : 'ID' %> 
            <%= applicant.get('person').person_id %>
          </div>
          <div class="participant-email">
            <%= applicant.get('person').email %>
          </div>
          <% var telephone = applicant.get('person').telephone; %>
          <% if (telephone && telephone.length > 0) { %>
            <div class="participant-telephone">
              <%= telephone %>
            </div>
          <% } %>
          <div class="participant-absent">
            <%= applicant.get('absent') ? 'El solicitante no participó de la audiencia' : 'El solicitante participió de la audiencia' %>
          </div>
          <button class="edit-applicant">EDITAR</button>
          <button class="remove-applicant">BORRAR</button>
        </div>
      </div>
    </div>
  <% } else { %>
    <div class="editor-section-expanded">
        <div class="section-title expanded-section-title">
          <img src="/assets/icon-marcador-abajo.svg" class="arrow">
          ¿Quién solicitó la audiencia?
        </div>
        <div id="applicant-form">
        </div>
    </div>
  <% } %>
</div>

<div class="editor-section" id="represented">
  <% var representsSomeone = !!audience.get('represented') %>
  <div class="represented-or-not">
    <span class="section-title">
      <% if (representsSomeone) { %>
        <img src="/assets/icon-marcador-abajo.svg" class="arrow">
      <% } else { %>
        <img src="/assets/icon-marcador-derecha.svg" class="arrow">
      <% } %>
      ¿Se presentó como particular interesado o en representación?
    </span>
    <div class="represented-radio-container">
      <input type="radio" class="represented-radio" id="not-represented" 
        name="representation-radio" <%= !representsSomeone ? 'checked' : '' %>>
      <label class="represented-label" for="not-represented">Particular interesado</label>
      <input type="radio" class="represented-radio" id="is-represented" 
        name="representation-radio" <%= representsSomeone ? 'checked' : '' %>>
      <label class="represented-label" for="is-represented">En representación</label>
    </div>
  </div>
  <div id="represented-form"></div>
</div>