<div class="editor-section" id="applicant">
  <% var applicant = audience.get('applicant'); %>
  <% if (applicant.get('confirmed')) { %>
    <div class="editor-section-collapsed">
      <div class="left-column">
        <span class="section-title collapsed-section-title">
          <img src="/assets/icon-marcador-derecha.svg" class="arrow">
          ¿Quién solicitó la audiencia?
        </span>
      </div>
      <div class="right-column">
        <div class="participant-card">
          <div class="participant-name">
            <%= applicant.get('name') %> <%= applicant.get('surname') %>
          </div>
          <div class="participant-position">
            <%= applicant.get('position') %>
          </div>
          <% var country = applicant.get('country') %>
          <div class="participant-country">
            <%= country %>
          </div>
          <div class="participant-id">
            <%= country == 'Argentina' ? applicant.get('id_type').toUpperCase() : 'ID' %> 
            <%= applicant.get('person_id') %>
          </div>
          <div class="participant-email">
            <%= applicant.get('email') %>
          </div>
          <% var telephone = applicant.get('telephone'); %>
          <% if (telephone && telephone.length > 0) { %>
            <div class="participant-telephone">
              <%= applicant.get('telephone') %>
            </div>
          <% } %>
        </div>
      </div>
    </div>
  <% } else { %>
    <div class="editor-section-expanded">
        <div class="section-title expanded-section-title">
          <img src="/assets/icon-marcador-abajo.svg" class="arrow">
          ¿Quién solicitó la audiencia?
        </div>
        <div id="applicant-form">
        </div>
    </div>
  <% } %>
</div>

<div class="editor-section" id="represented">
  <% var representsSomeone = !!audience.get('represented') %>
  <div>
    <span class="section-title">
      <% if (representsSomeone) { %>
        <img src="/assets/icon-marcador-abajo.svg" class="arrow">
      <% } else { %>
        <img src="/assets/icon-marcador-derecha.svg" class="arrow">
      <% } %>
      ¿Se presentó como particular interesado o en representación?
    </span>
    <div class="represented-radio-container">
      <input type="radio" class="represented-radio" id="not-represented" 
        name="representation-radio" <%= !representsSomeone ? 'checked' : '' %>>
      <label class="represented-label" for="not-represented">Particular interesado</label>
      <input type="radio" class="represented-radio" id="is-represented" 
        name="representation-radio" <%= representsSomeone ? 'checked' : '' %>>
      <label class="represented-label" for="is-represented">En representación</label>
    </div>
  </div>
</div>