<% var editing = !!audience.get('editingInfo') %>
<% var disabledIfNotEditing = editing ? '' : 'disabled' %>
<div class="editor-section" id="audience-main">
  <span class="section-title">
    <img src="/assets/icon-marcador-abajo.svg" class="arrow">
    Datos de la audiencia
  </span>
  <div class="left-column">
    <p class="subsection-title">Motivo</p>
    <p class="subsection-description">Describa en una oración el motivo o razón de la solicitud de audiencia.</p>
    <p class="subsection-description">Máximo 200 caracteres</p>
    <textarea maxlength="200" id="motif" placeholder="Ej. Hablar sobre la posibilidad de subsidiar un proyecto civil."
      <%= disabledIfNotEditing %>><%= audience.get('motif') %></textarea>
    <div class="invoked-interest-container">
      <label for="invoked-interest-select">Interés invocado</label>
      <p class="invoked-interest-description">Determine a partir del motivo de la audiencia qué tipo de interés se invoca.</p>
      <select id="invoked-interest-select" <%= disabledIfNotEditing %>>
        <% var interest = audience.get('interest_invoked'); %>
        <option value="" disabled>Seleccionar</option>
        <option value="particular" <%= interest == 'particular' ? 'selected' : '' %>>Particular</option>
        <option value="colectivo" <%= interest == 'colectivo' ? 'selected' : '' %>>Colectivo</option>
        <option value="difuso" <%= interest == 'difuso' ? 'selected' : '' %>>Difuso</option>
      </select> 
      <img src="/assets/logo-question.svg" class="interest-tooltip tooltip">
    </div>
  </div>
  <div class="right-column">
    <label for="date">Fecha</label> 
    <% 
    var date = new Date(audience.get('date'))
    var dateString = ''
    var dateIsValid = !isNaN(date.getTime())
    if (audience.get('date') && dateIsValid) {
      var year = date.getFullYear();
      var month = (date.getMonth() + 1).toString();
      month = month.length > 1 ? month : '0' + month;
      var day = date.getDate().toString();
      day = day.length > 1 ? day : '0' + day;
      var hour = date.getHours().toString();
      hour = hour.length > 1 ? hour : '0' + hour;
      var minutes = date.getMinutes().toString();
      minutes = minutes.length > 1 ? minutes : '0' + minutes;
      dateString = hour + ':' + minutes + ' ' + day + '/' + month + '/' + year;
    }
    %>
    <input type="text" id="date" <%= disabledIfNotEditing %> value="<%= dateString %>">
    <label id="place-label" for="place">Lugar</label>
    <input type="text" id="place" placeholder="Ej. Despacho, Ministerio de Educación" <%= disabledIfNotEditing %> value="<%= audience.get('place') %>">
    <label id="address-label" for="address">Dirección</label>
    <input type="text" id="address" placeholder="Ej. Av. Roque Saenz Peña 768, Ciudad Autonoma de Buenos Aires" <%= disabledIfNotEditing %>>
  </div>
</div>

<div class="editor-section" id="audience-theme">
  <p class="subsection-title">Síntesis</p>
  <p class="subsection-description">Describa de manera concisa lo sucedido en la audiencia, lo resuelto y el seguimiento del tema, de corresponder.</p>
  <textarea id="summary" placeholder="Ej: En el encuentro se acercaron posiciones entre el pedido de los participantes de regular los aumentos de precios del huevo y lo que actualmente ya está haciendo el ministerio al respecto. Se acordó quedar en contacto para hacer un seguimiento bimestral del tema." <%= disabledIfNotEditing %>><%= audience.get('summary') %></textarea>
  <div class="confirm-main-info-container">
    <% if (editing) { %>
      <button id="confirm-main-info">GUARDAR</button>
    <% } else { %>
      <button id="edit-main-info">EDITAR</button>
    <% } %>
  </div>
</div>