<% var editing = !!audience.get('editingInfo') %>
<% var disabledIfNotEditing = editing ? '' : 'disabled' %>
<% var missingAnyField = false %>
<div class="editor-section" id="audience-main">
  <span class="section-title">
    <img src="/assets/icon-marcador-abajo.svg" class="arrow">
    Datos de la audiencia
  </span>
  <div class="left-column">
    <% var hasMotif = audience.get('motif') && audience.get('motif').length > 0 %>
    <p class="subsection-title <%= !hasMotif && !editing ? 'red' : '' %>">Motivo</p>
    <% if (editing) { %>
      <p class="subsection-description">Describa en una oración el motivo o razón de la solicitud de audiencia.</p>
      <p class="subsection-description">Máximo 200 caracteres</p>
      <textarea maxlength="200" id="motif" placeholder="<%= editing ? 'Ej. Hablar sobre la posibilidad de subsidiar un proyecto civil.' : '' %>" ><%= audience.get('motif') %></textarea>
    <% } else { %>
      <p class="subsection-value motif"><%= audience.get('motif') %></p>
    <% } %>
    
    <div class="invoked-interest-container">
      <% var interest = audience.get('interest_invoked'); %>
      <% var hasInterest = interest && interest.length > 0 %>
      <p class="subsection-title <%= !hasInterest && !editing ? 'red' : '' %>">Interés invocado</p>
      <% if (editing) { %>
        <p class="invoked-interest-description">Determine a partir del motivo de la audiencia qué tipo de interés se invoca.</p>
        <select id="invoked-interest-select" <%= disabledIfNotEditing %>>
          <option disabled="disabled" <%= !interest || interest.length == 0 ? 'selected' : '' %>>Seleccionar</option>
          <option value="particular" <%= interest == 'particular' ? 'selected' : '' %>>Particular</option>
          <option value="colectivo" <%= interest == 'colectivo' ? 'selected' : '' %>>Colectivo</option>
          <option value="difuso" <%= interest == 'difuso' ? 'selected' : '' %>>Difuso</option>
        </select> 
        <img src="/assets/logo-question.svg" class="interest-tooltip tooltip">
        <div class="interest-tooltip-content hidden">
          <p style="margin:0;font-weight: bold;">Tipo de interes</p>
          <br>
          <p style="margin:0"><span style="font-weight: bold">Colectivo</span>: Se pretende influir en una decisión que afecta los derechos e intereses de un grupo de personas determinable. <span style="font-style: italic;">Ej: Modificar la normativa que regula ciertos procedimientos en el Colegio de Escribanos de CABA.</span></p>
          <br>
          <p style="margin:0"><span style="font-weight: bold">Particular</span>: Se pretende influir en una decisión que afecta los derechos e intereses de una persona en particular. <span style="font-style: italic;">Ej: Conseguir fondos para la intervención quirúrgica de alta complejidad de un individuo.</span></p>
          <br>
          <p style="margin:0"><span style="font-weight: bold">Difuso</span>: Se pretende influir en una decisión que afecta los derechos e intereses de un grupo de personas indeterminable. <span style="font-style: italic;">Ej: Regular los aumentos de precios del huevo, una materia prima utilizada por la industria y toda la ciudadanía. </span></p>
        </div>
      <% } else { %>
        <p class="subsection-value"><%= (interest || '').toUpperCase() %></p>
      <% } %>
    </div>
  </div>
  <div class="right-column <%= editing ? '' : 'with-buttons' %>">
    <% 
    var date = new Date(audience.get('date') || '');
    var dateString = '';
    var dateIsValid = !isNaN(date.getTime());
    if (dateIsValid) {
      var year = date.getFullYear();
      var month = (date.getMonth() + 1).toString();
      month = month.length > 1 ? month : '0' + month;
      var day = date.getDate().toString();
      day = day.length > 1 ? day : '0' + day;
      var hour = date.getHours().toString();
      hour = hour.length > 1 ? hour : '0' + hour;
      var minutes = date.getMinutes().toString();
      minutes = minutes.length > 1 ? minutes : '0' + minutes;
      dateString = hour + ':' + minutes + ' ' + day + '/' + month + '/' + year;
    }
    %>
    <p class="<%= !dateIsValid && !editing ? 'red' : '' %> subsection-title">Fecha y hora de la audiencia</p> 
    <% if (editing) { %> 
      <input type="text" id="date" <%= disabledIfNotEditing %> value="<%= dateString %>" placeholder="<%= editing ? 'DD/MM/YYYY HH:MM' : '' %>">
    <% } else { %>
      <p class="subsection-value"><%= dateString %></p>
    <% } %>

    <% var hasPlace = audience.get('place') && audience.get('place').length > 0 %>
    <p id="place-label" class="<%= !hasPlace && !editing ? 'red' : '' %> subsection-title">Lugar</p>
    <% if (editing) { %>
      <p class="subsection-description">Nombre descriptivo del lugar donde se llevó a cabo la audiencia</p>
      <input type="text" id="place" placeholder="<%= editing ? 'Ej. Despacho, Ministerio de Educación' : '' %>" <%= disabledIfNotEditing %> value="<%= audience.get('place') %>">
    <% } else  { %>
      <p class="subsection-value place"><%= audience.get('place') %></p>
    <% } %>
    
    <% var address = audience.get('address') %>
    <% var hasAddress =  address && audience.get('address').length > 0 %>
    <% var hasCoordinates = !!(hasAddress && audience.get('lat') && audience.get('lng')) %>
    <p id="address-label" class="<%= !hasAddress && !editing ? 'red' : '' %> subsection-title">Dirección</p>
    <% if (editing) { %>
      <input type="text" id="address" placeholder="<%= editing ? 'Ej. Av. Roque Saenz Peña 768, CABA' : '' %>" <%= disabledIfNotEditing %> value="<%= address %>" data-coordinates="<%= hasCoordinates %>">
    <% } else { %>
      <p class="subsection-value address"><%= address %></p>
    <% } %>

    <% if (!editing) { %>
      <div class="editing-buttons">
        <button id="edit-main-info">EDITAR</button>
        <button id="remove-main-info" class="grey">BORRAR</button>
      </div>
    <% } %>
  </div>
</div>

<div class="editor-section" id="audience-theme">
  <div class="<%= editing ? '' : 'with-buttons' %>">
    <% var hasSummary = audience.get('summary') && audience.get('summary').length > 0 %>
    <p class="subsection-title <%= !hasSummary && !editing ? 'red' : '' %>">Síntesis</p>
    <% if (editing) { %>
      <p class="subsection-description">Describa de manera concisa lo sucedido en la audiencia, lo resuelto y el seguimiento del tema, de corresponder.</p>
      <textarea id="summary" placeholder="<%= editing ? 'Ej: En el encuentro se acercaron posiciones entre el pedido de los participantes de regular los aumentos de precios del huevo y lo que actualmente ya está haciendo el ministerio al respecto. Se acordó quedar en contacto para hacer un seguimiento bimestral del tema.' : '' %>" <%= disabledIfNotEditing %>><%= audience.get('summary') %></textarea>
    <% } else { %>
      <p class="full-summary"><%= audience.get('summary') %></p>
    <% } %>
    <div class="confirm-main-info-container">
      <% if (editing) { %>
        <button id="confirm-main-info">GUARDAR</button>
      <% } else { %>
        <div class="editing-buttons">
          <button id="edit-summary-info">EDITAR</button>
          <button id="remove-summary-info" class="grey">BORRAR</button>
        </div>
      <% } %>
    </div>

    <% var missingAnyField = !hasMotif || !hasInterest || !dateIsValid || !hasPlace || !hasAddress || !hasSummary %>
    <% if (!editing && missingAnyField) { %>
      <div class="red missing-fields">*No has completado todos los campos requeridos para publicar la audiencia</div>
    <% } %>
  </div>
</div>