<% var obligee = audience.get('obligee').toJSON() %>
<div class="editor-section" id="obligee">
  <div class="left-column">
    <div class="section-title">
      <img src="/assets/icon-marcador-derecha-gris.svg" class="arrow grey-arrow">
      Sujeto obligado
    </div>
  </div>
  <div class="right-column">
    <div class="participant-card">
      <span class="user-icon obligee">
        <%= obligee.person.name[0] %><%= obligee.person.name[1] %>
      </span>
      <div class="participant-name">
        <%= obligee.person.name %>
      </div>
      <div class="participant-position">
        <%= obligee.position %>
      </div>
      <div class="participant-id">
        <%= obligee.person.id_type.toUpperCase() %> <%= obligee.person.person_id %>
      </div>
      <div class="participant-email">
        <%= obligee.person.email %>
      </div>
    </div>
  </div>
</div>