<% var representedGroup = audience.get('applicant').get('represented_people_group'); %>
<% var country = representedGroup.country %>
<div class="person-form">
  <div class="nationality-container">
    <input type="radio" name="represented-nationality" id="represented-nationality-argentine" 
      value="Argentina" class="nationality-radio" <%= country == 'Argentina' ? 'checked' : '' %>>
    <label for="represented-nationality-argentine" class="nationality-label">Argentino</label>
    <input type="radio" name="represented-nationality" id="represented-nationality-foreign" 
      value="" class="nationality-radio" <%= country != 'Argentina' ? 'checked' : '' %>>
    <label for="represented-nationality-foreign" class="nationality-label">Extranjero</label>
  </div>

  <div class="field-table">
    <div class="row">
      <% if (country != 'Argentina') { %>
        <div class="cell">
          <div class="field-label">País</div>
          <% var countries = audiencias.globals.countries; %>
          <select class="countries-select">
            <option selected="true" disabled="disabled">Seleccione país...</option>    
            <% for (var i=0; i<countries.length; i++) { %>
              <option value="<%= countries[i] %>" <%= countries[i] == country ? 'selected' : '' %>><%= countries[i] %></option>
            <% } %>
          </select>
        </div>
      <% } %>
      <div class="cell">
        <div class="field-label">Nombre</div>
        <% var namePlaceholder = country == 'Argentina' ? 'Pueblo Qom' : 'Nombre del grupo' %>
        <input maxlength="200" type="text" placeholder="<%= namePlaceholder %>" value="<%= representedGroup.name %>" class="field-input name-input">      
      </div>
      <% if (country == 'Argentina') { %>
        <div class="cell"></div>
      <% } %>
      <div class="cell description-cell">
        <div class="description-container">
          <div class="field-label">Descripción de la actividad (opcional, máximo 200 caracteres)</div>
          <% var descriptionPlaceholder = country == 'Argentina' ? 'Miembros autoconvocados para representar a su pueblo en temas que afectan a la comunidad' : 'Descripción de la actividad del grupo' %>
          <textarea id="group-description" maxlength="200" placeholder="<%= descriptionPlaceholder %>"></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="cell"> 
        <div class="field-label">Mail (opcional)</div>
        <input maxlength="100" type="text" placeholder="mail@unmail.com" value="<%= representedGroup.email %>" class="field-input email-input">
      </div>
      <div class="cell"> 
        <div class="field-label">Teléfono (opcional)</div>
        <input maxlength="20" type="text" placeholder="Teléfono" value="<%= representedGroup.telephone %>" class="field-input telephone-input">
      </div>
      <div class="cell"></div>
    </div>
  </div>  
  <div class="form-actions">
    <button class="confirm-save">GUARDAR</button>
  </div>
</div>