<% var applicant = audience.get('applicant'); %>
<% var represented = applicant.get('represented_person'); %>
<% var country = represented.country %>
<div class="person-form">
  <div class="nationality-container">
    <input type="radio" name="represented-nationality" id="represented-nationality-argentine" 
      value="Argentina" class="nationality-radio" <%= country == 'Argentina' ? 'checked' : '' %>>
    <label for="represented-nationality-argentine" class="nationality-label">Argentino</label>
    <input type="radio" name="represented-nationality" id="represented-nationality-foreign" 
      value="" class="nationality-radio" <%= country != 'Argentina' ? 'checked' : '' %>>
    <label for="represented-nationality-foreign" class="nationality-label">Extranjero</label>
  </div>
  <div class="field-table">
    <% if (country != 'Argentina') { %>
      <div class="row">
        <div class="cell">
          <div class="field-label">País</div>
          <% var countries = audiencias.globals.countries; %>
          <select class="countries-select">
            <option selected="true" disabled="disabled">Seleccione país...</option>    
            <% for (var i=0; i<countries.length; i++) { %>
              <option value="<%= countries[i] %>" <%= countries[i] == country ? 'selected' : '' %>><%= countries[i] %></option>
            <% } %>
          </select>
        </div>
        <div class="cell"></div>
        <div class="cell"></div>
      </div>
    <% } %>

    <div class="row">
      <div class="cell">
        <% if (country == 'Argentina') { %>
          <div class="field-label">Tipo de nro. de documento</div>
          <div class="id-joint-field">
            <% var idType = represented.id_type %>
            <select class="id-type-input">
              <option value="dni" <%= idType == 'dni' ? 'selected' : '' %>>DNI</option>
              <option value="lc" <%= idType == 'lc' ? 'selected' : '' %>>LC</option>
              <option value="le" <%= idType == 'le' ? 'selected' : '' %>>LE</option>
            </select>
            <input type="text" placeholder="00000000" value="<%= represented.person_id %>" class="field-input person-id-input">
          </div>
        <% } else { %>
          <div class="field-label">Identificación</div>
          <input type="text" placeholder="00000000" value="<%= represented.person_id %>" class="field-input person-id-input">
        <% } %>
      </div>
      <div class="cell">
        <div class="field-label">Apellido y nombre</div>
        <input type="text" placeholder="Apellido y nombre" value="<%= represented.name %>" class="field-input name-input">
      </div>
      <div class="cell">
      </div>
    </div>

    <div class="row">
      <div class="cell"> 
        <div class="field-label">Ocupación</div>
        <input maxlength="200" type="text" placeholder="Ocupación" value="<%= applicant.get('represented_person_ocupation') %>" class="field-input position-input">
      </div>
      <div class="cell"> 
        <div class="field-label">Mail (opcional)</div>
        <input type="text" placeholder="mail@unmail.com" value="<%= represented.email %>" class="field-input email-input">
      </div>
      <div class="cell"> 
        <div class="field-label">Teléfono (opcional)</div>
        <input type="text" placeholder="Teléfono" value="<%= represented.telephone %>" class="field-input telephone-input">
      </div>
    </div>

  </div>
  <div class="form-actions">
    <button class="confirm-save">GUARDAR</button>
  </div>
</div>