<div id="dependencies-menu" class="side-menu hidden">
  <div class="top-actions">
    <div class="top-menu">
      <%= image_tag 'icon-configurar', class: 'settings-icon' %>
      <%= image_tag 'icon-configurar-select', class: 'settings-icon-hover' %>
      <div class="menu-dropdown">
        <ul class="menu-dropdown-actions">
          <li id="add-sub-dependency">Agregar subdependencia</li>
          <li id="edit-dependency">Edita contenido</li>
          <li id="remove-dependency">Dar de baja</li>
          <li id="see-audiences">Ver audiencias</li>
        </ul>
      </div>
    </div>
    <div class="cancel-top-action hidden">
      <span class="cancel">
        <%= image_tag 'icon-cancelar' %>
        CANCELAR
      </span>
    </div>
  </div>

  <div class="title">
    <div class="title-text"></div>
    <div class="title-form hidden">
      <input type="text" id="new-dependency-name">
    </div>
    <div class="title-button">
      <button id="see-current-dependency-admin" class="primary">VER ADMINISTRADOR</button>
      <button id="hide-current-dependency-admin" class="hidden">VOLVER</button>
      <button id="submit-dependency-name" class="primary hidden">SIGUIENTE</button>
      <button id="edit-dependency-name" class="hidden">EDITAR</button>
    </div>
  </div>

  <div id="current-dependency-admin" class="user-section hidden">
    <div class="user-section-title">
      Administrador
      <%= image_tag 'logo-agregar', class: 'user-section-add' %>
      <%= image_tag 'icon-cancelar', class: 'user-section-remove hidden' %>
      <%= image_tag 'icon-editar', class: 'user-section-edit hidden' %>
    </div>
    <ul id="current-dependency-admin-list" class="user-section-list tall"></ul>
    <div class="inlist-form hidden">
      <div class="user user-form">
        <span class="user-icon">+</span>
        <label for="new-dependency-admin-id">Tipo y nro. de documento</label>
        <div class="type-and-doc">
          <%= select_tag('new-dependency-admin-id-type', options_for_select(['DNI', 'LC', 'LE'])) %>
          <div class="id-spacer">
            <input type="text" id="new-dependency-admin-id" placeholder="00000000">
          </div>
        </div>
        <label for="new-dependency-admin-name">Nombre</label>
        <input type="text" id="new-dependency-admin-name" placeholder="Nombre">
        <label for="new-dependency-admin-surname">Apellido</label>
        <input type="text" id="new-dependency-admin-surname" placeholder="Apellido">
        <label for="new-dependency-admin-email">Mail</label>
        <input type="text" id="new-dependency-admin-email" placeholder="mail@unmail.com">
      </div>
      <div class="inlist-form-actions form-actions">
        <button class="submit skip">SALTAR</button>
        <button class="submit submit">AGREGAR</button>
      </div>
    </div>
    <div class="user inlist-add-new-user hidden">
      <span class="user-icon">+</span>
      <button class="primary inlist-add">AGREGAR</button>
    </div>
  </div>

  <div id="current-dependency-obligee" class="user-section">
    <div class="user-section-title">
      Sujeto Obligado
      <%= image_tag 'logo-agregar', class: 'user-section-add hidden' %>
      <%= image_tag 'icon-cancelar', class: 'user-section-remove hidden' %>
      <%= image_tag 'icon-editar', class: 'user-section-edit hidden' %>
    </div>
    <ul id="current-dependency-obligee-list" class="user-section-list tall"></ul>
    <div class="user inlist-add-new-user hidden">
      <span class="user-icon">+</span>
      <button class="primary inlist-add">AGREGAR</button>
    </div>
    <div class="inlist-form hidden">
      <div class="user user-form">
        <span class="user-icon">+</span>
        <label for="new-dependency-obligee-id">Tipo y nro. de documento</label>
        <div class="type-and-doc">
          <%= select_tag('new-dependency-obligee-id-type', options_for_select(['DNI', 'LC', 'LE'])) %>
          <div class="id-spacer">
            <input type="text" id="new-dependency-obligee-id" placeholder="00000000">
          </div>
        </div>
        <label for="new-dependency-obligee-name">Nombre</label>
        <input type="text" id="new-dependency-obligee-name" placeholder="Nombre">
        <label for="new-dependency-obligee-surname">Apellido</label>
        <input type="text" id="new-dependency-obligee-surname" placeholder="Apellido">
        <label for="new-dependency-obligee-position">Cargo</label>
        <input type="text" id="new-dependency-obligee-position" placeholder="Cargo">
        <label for="new-dependency-obligee-email">Mail</label>
        <input type="text" id="new-dependency-obligee-email" placeholder="mail@unmail.com">
      </div>
      <div class="inlist-form-actions form-actions">
        <button class="submit skip">SALTAR</button>
        <button class="submit submit">AGREGAR</button>
      </div>
    </div>
  </div>

  <div id="current-dependency-operators" class="user-section">
    <div class="user-section-title">
      Operadores
      <%= image_tag 'logo-agregar', class: 'user-section-add' %>
      <%= image_tag 'icon-cancelar', class: 'user-section-remove hidden' %>
      <%= image_tag 'icon-editar', class: 'user-section-edit hidden' %>
    </div>
    <ul id="current-dependency-operators-list" class="user-section-list tall"></ul>
    <div class="user inlist-add-new-user hidden">
      <span class="user-icon">+</span>
      <button class="primary inlist-add">AGREGAR</button>
    </div>
    <div class="inlist-form hidden">
      <div class="user user-form">
        <span class="user-icon">+</span>
        <label for="new-dependency-operator-id">Tipo y nro. de documento</label>
        <div class="type-and-doc">
          <%= select_tag('new-dependency-operator-id-type', options_for_select(['DNI', 'LC', 'LE'])) %>
          <div class="id-spacer">
            <input type="text" id="new-dependency-operator-id" placeholder="00000000">
          </div>
        </div>
        <label for="new-dependency-operator-name">Nombre</label>
        <input type="text" id="new-dependency-operator-name" placeholder="Nombre">
        <label for="new-dependency-operator-surname">Apellido</label>
        <input type="text" id="new-dependency-operator-surname" placeholder="Apellido">
        <label for="new-dependency-operator-email">Mail</label>
        <input type="text" id="new-dependency-operator-email" placeholder="mail@unmail.com">
      </div>
      <div class="inlist-form-actions form-actions">
        <button class="submit skip">SALTAR</button>
        <button class="submit submit">AGREGAR</button>
      </div>
    </div>
  </div>
  <div id="preview-actions" class="hidden">
    <div class="preview-text">
      <%= image_tag 'logo-alerta' %> 
      PREVISUALIZACIÓN
    </div>
    <div class="actions">
      <button class="submit" id="edit-all-news">MODIFICAR</button>
      <button class="submit" id="submit-all-news">CONFIRMAR</button>
    </div>
  </div>
</div>
