<div id="dependencies">

  <div id="navigation-container">
    <div id="navigation-content">

      <div id="search">
        <div id="search-with-icon">
          <input type="text" id="search-text" placeholder="Buscar por palabra clave">
          <i class="material-icons">search</i>
        </div>
      </div>
    </div>
    <div id="separator-actions">
      <div id="collapse-expand">
        <%= image_tag 'icon-desplegar', id: 'expand-all' %>
        <%= image_tag 'icon-colapsar', id: 'collapse-all' %>
      </div>
      <button id="superadmin-options">SUPERVISORES</button>
    </div>
  </div>

  <div id="dependencies-tree">
    <div id="base-list">
      <%= render 'management/dependency_tree', nodes: @dependencies[:tree], padding_left: 12.5 %>
    </div>
    <div id="results-list" class="hidden">
      <ul></ul>
    </div>
  </div>
</div>
<div id="dependencies-menu-container">
  <%= render 'side_menu' %>
</div>


<%= javascript_tag do %>
  $(function() {
    window.dependencies = <%= raw @dependencies[:plain].to_json %>
    new AdminLanding(dependencies);
  });
<% end %>