<div class="facet-section">
  <div class="facet-title"><%= title %></div>

  <% if (selectedValue) { %>
    <% var linkParams = { pagina: null }; %>
    <% linkParams[paramName] = null; %>
    <% if (paramName == 'persona') { linkParams['roles-persona'] = null }%>
    <a href="<%= linkCreator(linkParams) %>">
      <div class="facet selected">
        <div class="facet-name">
          <%= selectedValue %>
        </div>
        <div class="facet-value">
          <i class="fa fa-times" aria-hidden="true"></i>
        </div>
      </div>
    </a>

  <% } else { %>
    <% var bucketStep = 5; %>
    <% var buckets = facetList ? facetList.ids.buckets : []; %>
    <% for (var m=0; m<buckets.length; m+=bucketStep) { %>
      <div class="facet-list <%= m > 0 ? 'hidden' : '' %>">
      <% for (var i=m; i<Math.min(m+bucketStep, buckets.length); i++) { %>
        <% var facet = buckets[i]; %>
        <% var linkParams = { pagina: null };%>
        <% linkParams[paramName] = facet.key %>
        <a href="<%= linkCreator(linkParams) %>">
          <div class="facet">
            <div class="facet-name">
              <%= facet.name.buckets[0].key %>
            </div>
            <div class="facet-value">
              <%= facet.doc_count %>
            </div>
          </div>
        </a>
      <% } %>
      </div>
    <% } %>
    <div class="expand-facet-list <%= buckets.length > bucketStep ? '' : 'hidden' %>">
      Ver mas...
    </div>
    <div class="collapse-facet-list hidden">
      Ver menos...
    </div>
  <% } %>
</div>