<div class="facet-section">
  <div class="facet-title"><%= title %></div>
  
  <% var selectedValue = false; %>

  <% for (var i=0; i<aggregations.length; i++) { %>
    <% if (aggregations[i].selected) { %>
      <% selectedValue = aggregations[i].selected %>
      <% var linkParams = { pagina: null }; %>
      <% linkParams[aggregations[i].paramName] = null; %>
      <a href="<%= linkCreator(linkParams) %>">
        <div class="facet selected">
          <div class="facet-name">
            <%= selectedValue %>
          </div>
          <div class="facet-value">
            <i class="fa fa-times" aria-hidden="true"></i>
          </div>
        </div>
      </a>
    <% } %>
  <% } %>

  <% if (!selectedValue) { %>
    <% for (var j=0; j<aggregations.length; j++) { %>
      <div class="facet-group-container">
        <div class="facet-group-name">
          <%=aggregations[j].name%>
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
          <i class="fa fa-chevron-up hidden" aria-hidden="true"></i>
        </div>
        <div class="facet-group hidden">
          <% var buckets = aggregations[j].facetList.ids.buckets; %>
          <% for (var m=0; m<buckets.length; m+=10) { %>
            <div class="facet-list <%= m > 0 ? 'hidden' : '' %>">
            <% for (var i=m; i<Math.min(m+10, buckets.length); i++) { %>
              <% var facet = buckets[i]; %>
              <% var linkParams = { pagina: null };%>
              <% linkParams[aggregations[j].paramName] = facet.key %>
              <a href="<%= linkCreator(linkParams) %>">
                <div class="facet">
                  <div class="facet-name">
                    <%= facet.name.buckets[0].key %>
                  </div>
                  <div class="facet-value">
                    <%= facet.doc_count %>
                  </div>
                </div>
              </a>
            <% } %>
            </div>
          <% } %>
          <div class="expand-facet-list <%= buckets.length > 10 ? '' : 'hidden' %>">
            Ver mas...
          </div>
          <div class="collapse-facet-list hidden">
            Ver menos...
          </div>
        </div>
      </div>
    <% } %>

  <% } %>
</div>
