<div class="single-audience full-result print">
  <div class="vertical-spacer">
    <div class="result-el ">
      <img class="close" src="/assets/icon-cancelar.svg">
      <div class="top-table table">

        <div class="table-row">
          <div class="table-cell col-title bold blue">Sujeto obligado</div>
          <div class="table-cell col-title bold blue">Solicitante</div>
          <div class="table-cell col-title bold blue">Otros participantes (<%= audience.participants.length %>)</div>
          <div class="table-cell"></div>
        </div>

        <div class="table-row main-row">
          <div class="table-cell">
            <p class="obligee-name bold">
              <%= audience.obligee.person.name %>
              <% if (!audience.obligee.active) { %>
                <span class="label-not-active">(No vigente)</span>
              <% } %>
            </p>
            <p class="obligee-position small-font">
              <%= audience.obligee.position %>
            </p>
            <p class="obligee-dependency small-font">
              <%= audience.obligee.dependency.name %>
              <% if (!audience.obligee.dependency.active) { %>
                <span class="label-not-active">(No vigente)</span>
              <% } %>
            </p>
            <p class="obligee-country space-up small-font">
              <%= audience.obligee.person.country %>
            </p>
            <p class="obligee-id small-font">
              <%= audience.obligee.person.country == 'Argentina' ? audience.obligee.person.id_type.toUpperCase() : 'ID' %>
              <%= audience.obligee.person.person_id %>
            </p>
          </div>
          <div class="table-cell">
            <p class="applicant-name bold">
              <%= audience.applicant.person.name %>
            </p>
            <p class="applicant-position small-font">
              <%= audience.applicant.ocupation %>
            </p>
            <p class="applicant-country small-font space-up">
              <%= audience.applicant.person.country %>
            </p>
            <p class="applicant-id small-font">
              <%= audience.applicant.person.country == 'Argentina' ? audience.applicant.person.id_type.toUpperCase() : 'ID' %>
              <%= audience.applicant.person.person_id %>
            </p>
            <p class="applicant-participation small-font">
              <%= audience.applicant.absent ? 'El solicitante no participó de la audiencia' : 'El solicitante participó de la audiencia' %>
            </p>

            <% if (audience.applicant.represented_person) { %>
              <p class="representation-type big-space-up small-font">En representación</p>
              <p class="representation-type small-font">Persona física</p>
              <p class="represented-name bold"><%= audience.applicant.represented_person.name %></p>
              <p class="represented-id small-font space-up">
                <%= audience.applicant.represented_person.country %>
              </p>
              <p class="represented-id small-font">
                <%= audience.applicant.represented_person.country == 'Argentina' ? audience.applicant.represented_person.id_type.toUpperCase() : 'ID' %>
                <%= audience.applicant.represented_person.person_id %>
              </p>

            <% } else if (audience.applicant.represented_legal_entity) { %>
              <p class="representation-type big-space-up small-font">En representación</p>
              <p class="representation-type small-font">Persona jurídica</p>
              <p class="represented-name bold"><%= audience.applicant.represented_legal_entity.name %></p>
              <% if (audience.applicant.represented_legal_entity.country == 'Argentina') { %>
                <p class="represented-id small-font space-up">CUIT <%= audience.applicant.represented_legal_entity.cuit %></p>
              <% } %>

            <% } else if (audience.applicant.represented_state_organism) { %>
              <p class="representation-type big-space-up small-font">En representación</p>
              <p class="representation-type small-font">Organismo estatal</p>
              <p class="represented-name bold"><%= audience.applicant.represented_state_organism.name %></p>

            <% } else if (audience.applicant.represented_people_group) { %>
              <p class="representation-type big-space-up small-font">En representación</p>
              <p class="representation-type small-font">Grupo de personas</p>
              <p class="represented-name bold"><%= audience.applicant.represented_people_group.name %></p>
              <p class="represented-description small-font space-up"><%= audience.applicant.represented_people_group.description %></p>
            <% } %>
          </div>

          <div class="table-cell">
            <% for (var i=0; i<audience.participants.length; i+=2) { %> 
              <% var participant = audience.participants[i]; %>
              <div class="participant <%= i > 0 ? 'big-space-up' : '' %>">
                <p class="participant-name bold">
                  <%= participant.person.name %>
                </p>
                <p class="participant-position small-font">
                 <%= participant.ocupation %>
                </p>
                <p class="participant-country space-up small-font">
                  <%= participant.person.country %>
                </p>
                <p class="participant-id small-font">
                  <%= participant.person.id_type.toUpperCase() %>
                  <%= participant.person.person_id %>
                </p>
              </div>
            <% } %>
          </div>

          <div class="table-cell">
            <% for (var i=1; i<audience.participants.length; i+=2) { %> 
              <% var participant = audience.participants[i]; %>
              <div class="participant <%= i > 1 ? 'big-space-up' : '' %>">
                <p class="participant-name bold">
                  <%= participant.person.name %>
                </p>
                <p class="participant-position small-font">
                  <%= participant.ocupation %>
                </p>
                <p class="participant-country space-up small-font">
                  <%= participant.person.country %>
                </p>
                <p class="participant-id small-font">
                  <%= participant.person.country == 'Argentina' ? participant.person.id_type.toUpperCase() : 'ID' %>
                  <%= participant.person.person_id %>
                </p>
              </div>
            <% } %>
          </div>
          
        </div>
      </div>


      <div class="table bottom-table">
        <div class="table-cell wide-cell">
          <div class="bold blue">Datos Audiencia</div>
          <p class="blue">Síntesis</p>
          <p class="small-font"><%= audience.summary %></p>

          <p class="blue big-space-up">Lugar</p>
          <p class="small-font"><%= audience.place %></p>

          <p class="blue big-space-up">Dirección</p>
          <p class="small-font"><%= audience.address %></p>

        </div>  

        <div class="table-cell">
          <% var date = new Date(audience.date)
              var year = date.getFullYear();
              var month = (date.getMonth() + 1).toString();
              month = month.length > 1 ? month : '0' + month;
              var day = date.getDate().toString();
              day = day.length > 1 ? day : '0' + day;
              var hour = date.getHours().toString();
              hour = hour.length > 1 ? hour : '0' + hour;
              var minutes = date.getMinutes().toString();
              minutes = minutes.length > 1 ? minutes : '0' + minutes;
              dateString = hour + ':' + minutes + ' ' + day + '/' + month + '/' + year; %>

          <div class="table-cell no-padding">
            <p class="blue">Fecha</p>
            <p class="small-font"><%= day %>-<%= month %>-<%= year %></p>
          </div>
          <div class="table-cell no-padding">
            <p class="blue">Hora</p>
            <p class="small-font"><%= hour %>:<%= minutes %></p>
          </div>

          <p class="blue big-space-up">Interés invocado</p>
          <p class="small-font"><%= audience.interest_invoked %></p>

          <p class="blue big-space-up">Motivo</p>
          <p class="small-font"><%= audience.motif %></p>

        </div>
      </div>


    </div>
  </div>
</div>