<div class="results-content">
  <div class="facets-container">
    <div class="title">
      NAVEGACIÓN
    </div>

  </div>
  <div class="results-container">
    <div class="results-list">
      <% if (viewingHistoric) { %>
        <div class="historic-disclaimer">
          Por razones de compatibilidad entre la tecnología utilizada en el sistema anterior (desarrollado en el año 2008) y la utilizada en el nuevo sistema vigente, encontrarás diferencias en la forma en la que son mostrados los resultados. Se ha respetado el formato de los datos del sistema anterior por el carácter de declaración jurada de la información consignada.
        </div>
      <% } %>
    </div>
    <div class="pagination">
      <% if (totalPages > 1) { %>

        <% var minPage = currentPage - 4 > 1 ? currentPage - 4 : 1%>
        <% var maxPage = currentPage + 5 <= totalPages ? currentPage + 5 : totalPages + 1 %>
        
        <% if (minPage > 1) { %>
          <a href="<%= linkCreator({pagina: 1}) %>">
            <span class="pagination-link">«</span>
          </a>
        <% } %>
        
        <% for (var i=minPage; i<maxPage; i++) { %>
          <% if (i != currentPage) { %>
            <a href="<%= linkCreator({pagina: i}) %>">
              <span class="pagination-link"><%= i %></span>
            </a>
          <% } else { %>
            <span class="pagination-link current-page"><%= i %></span>
          <% } %>
        <% } %>

        <% if (maxPage < totalPages) { %>
          <a href="<%= linkCreator({pagina: totalPages}) %>">
            <span class="pagination-link">»</span>
          </a>
        <% } %>

      <% } %>
    </div>
  </div>
</div>