<div class="results-content">
  <div class="facets-container">
    <div class="title">
      NAVEGACIÓN 
    </div>

  </div>
  <div class="results-container">
    <div class="results-list">
      <% if (viewingHistoric) { %>
        <div class="historic-disclaimer">
        <i class="fa fa-exclamation-triangle"></i>
          Aquí podrás visualizar las audiencias registradas hasta el 30/09/2016. Mas información en <a href="/acerca_de#plataforma">Acerca de </a>
        </div>
      <% } else if (personSelected) { %>
        <div class="person-role-filter table">
          <div class="table-cell">
            Ver persona física como: 
          </div>

          <% var options = audiencias.globals.results.options;
          var selectedRoles = options['roles-persona'] ? options['roles-persona'].split('-') : []
          function linkForCheckboxLink(roleName) {
            var index = selectedRoles.indexOf(roleName);
            var params = { pagina: null };
            if (index > -1 && selectedRoles.length > 1) {
              newRoles = selectedRoles.concat([]);
              newRoles.splice(index, 1);
              params['roles-persona'] = newRoles.join('-');
            } else if (index > -1) {
              params['roles-persona'] = null;
            } else {
              newRoles = selectedRoles.concat([roleName]);
              params['roles-persona'] = newRoles.join('-');
            }
            return audiencias.app.linkCreator(params);
          } %>

          <% 
          var rolesAggregation = audiencias.globals.results.audiences.aggregations ? audiencias.globals.results.audiences.aggregations._roles : {} ;
          var rolesBuckets = rolesAggregation && rolesAggregation._roles && rolesAggregation._roles.role && rolesAggregation._roles.role.buckets ? rolesAggregation._roles.role.buckets : null;
          var roles = {};
          _.map(rolesBuckets, function(b) { roles[b.key] = b.doc_count })
          %>

          <% var appearsAsObligee = roles['obligee'] > 0 %>
          <div class="table-cell <%= appearsAsObligee ? '' : 'disabled' %>">
            <% var showingObligees = selectedRoles.indexOf('obligado') > -1 %>
            <input type="checkbox" id="role-obligee" <%= showingObligees ? 'checked' : '' %> class="role-checkbox">
            <label for="role-obligee">
              <a href="<%= linkForCheckboxLink('obligado') %>">
                Sujeto obligado (<%= appearsAsObligee ? roles['obligee'] : 0 %>)
                <% if (appearsAsObligee) { %>
                  <img src="/assets/icon-check.svg" class="checked">
                  <img src="/assets/icon-check-no.svg" class="not-checked">
                <% } else { %>
                  <img src="/assets/icon-check-no-gris.svg" class="not-checked">
                <% } %>
              </a>
            </label>
          </div>

          <% var appearsAsApplicant = roles['applicant'] > 0 %>
          <div class="table-cell <%= appearsAsApplicant ? '' : 'disabled' %>">
            <% var showingApplicant = selectedRoles.indexOf('solicitante') > -1 %>
            <input type="checkbox" id="role-applicant" <%= showingApplicant ? 'checked' : '' %> class="role-checkbox">
            <label for="role-applicant">
              <a href="<%= linkForCheckboxLink('solicitante') %>">
                Solicitante (<%= appearsAsApplicant ? roles['applicant'] : 0 %>)
                <% if (appearsAsApplicant) { %>
                  <img src="/assets/icon-check.svg" class="checked">
                  <img src="/assets/icon-check-no.svg" class="not-checked">
                <% } else { %>
                  <img src="/assets/icon-check-no-gris.svg" class="not-checked">
                <% } %>
              </a>
            </label>
          </div>

          <% var appearsAsParticipant = roles['participant'] > 0 %>
          <div class="table-cell <%= appearsAsParticipant ? '' : 'disabled' %>">
            <% var showingParticipants = selectedRoles.indexOf('participante') > -1 %>
            <input type="checkbox" id="role-participant" <%= showingParticipants ? 'checked' : '' %> class="role-checkbox">
            <label for="role-participant">
              <a href="<%= linkForCheckboxLink('participante') %>">
                Participante (<%= appearsAsParticipant ? roles['participant'] : 0 %>)
                <% if (appearsAsParticipant) { %>
                  <img src="/assets/icon-check.svg" class="checked">
                  <img src="/assets/icon-check-no.svg" class="not-checked">
                <% } else { %>
                  <img src="/assets/icon-check-no-gris.svg" class="not-checked">
                <% } %>
              </a>
            </label>
          </div>

          <% var appearsAsRepresented = roles['represented'] > 0 %>
          <div class="table-cell <%= appearsAsRepresented ? '' : 'disabled' %>">
            <% var showingRepresented = selectedRoles.indexOf('representado') > -1 %>
            <input type="checkbox" id="role-represented" <%= showingRepresented ? 'checked' : '' %> class="role-checkbox">
            <label for="role-represented">
              <a href="<%= linkForCheckboxLink('representado') %>">
                Representado (<%= appearsAsRepresented ? roles['represented'] : 0 %>)
                <% if (appearsAsRepresented) { %>
                  <img src="/assets/icon-check.svg" class="checked">
                  <img src="/assets/icon-check-no.svg" class="not-checked">
                <% } else { %>
                  <img src="/assets/icon-check-no-gris.svg" class="not-checked">
                <% } %>
              </a>
            </label>
          </div>

        </div>
      <% } %>
    </div>
    <div class="pagination">
      <% if (totalPages > 1) { %>

        <% var minPage = currentPage - 4 > 1 ? currentPage - 4 : 1%>
        <% var maxPage = currentPage + 5 <= totalPages ? currentPage + 5 : totalPages + 1 %>
        
        <% if (minPage > 1) { %>
          <a href="<%= linkCreator({pagina: 1}) %>">
            <span class="pagination-link">«</span>
          </a>
        <% } %>

        <% if (currentPage > 1) { %>
          <a href="<%= linkCreator({pagina: currentPage-1}) %>">
            <span class="pagination-link">‹</span>
          </a>
        <% } %>

        <% for (var i=minPage; i<maxPage; i++) { %>
          <% if (i != currentPage) { %>
            <a href="<%= linkCreator({pagina: i}) %>">
              <span class="pagination-link"><%= i %></span>
            </a>
          <% } else { %>
            <span class="pagination-link current-page"><%= i %></span>
          <% } %>
        <% } %>

        <% if (currentPage < totalPages) { %>
          <a href="<%= linkCreator({pagina: currentPage+1}) %>">
            <span class="pagination-link">›</span>
          </a>
        <% } %>

        <% if (maxPage < totalPages) { %>
          <a href="<%= linkCreator({pagina: totalPages}) %>">
            <span class="pagination-link">»</span>
          </a>
        <% } %>

      <% } %>
    </div>
  </div>
</div>