<div class="search-title">
  Registro Único de Audiencias de Gestión de Intereses del Poder Ejecutivo Nacional
</div>

<% var searchOptions = audiencias.globals.results ? audiencias.globals.results.options : null %>

<div class="search-form">

  <div class="search-input">
    <% var searchValue = searchOptions ? searchOptions.query : '' %>
    <input type="text" id="search-text" placeholder="Introduzca su busqueda" value="<%= searchValue %>">
    <button class="green" id="submit-search">BUSCAR</button>
  </div>

  <% var advanceSearch = searchOptions ? !!(searchOptions.from || searchOptions.to || searchOptions.person || searchOptions.dependency || searchOptions.represented || searchOptions.texts) : false  %>
  <div class="advance-search-container">
    <input type="checkbox" id="show-advance-search" <%= advanceSearch ? 'checked' : '' %>>
    <label class="show-advance-search-label" for="show-advance-search">
      <img src="/assets/icon-marcador-derecha-gris.svg" class="advance-search-icon">
      Busqueda avanzada
    </label>

    <% var historicSearch = searchOptions ? searchOptions.historic : false %>
    <input type="checkbox" id="search-old" <%= historicSearch ? 'checked' : '' %>>
    <label class="search-old-label" for="search-old">
      <i class="fa fa-square-o" aria-hidden="true"></i>
      <i class="fa fa-check-square-o" aria-hidden="true"></i>
      Incluir registros históricos
    </label>

    <div class="advance-search">
      <div class="search-option">
        <div class="search-description">
          Fecha especifica o rango
        </div>
        <% var date_from = searchOptions ? searchOptions.from : null %>
        <% var date_to = searchOptions ? searchOptions.to : null %>
        <input type="text" id="date-from" placeholder="Desde" class="date-input">
        <input type="text" id="date-to" placeholder="Hasta" class="date-input">
        <img src="/assets/icon-calendar.svg" class="calendar-icon">
      </div>
      <div class="search-option">
        <div class="search-description">
          Buscar en:
        </div>

        <div class="table">
          <div class="table-row">
            <div class="table-cell">
              <input type="checkbox" id="search-person" <%= searchOptions.person ? 'checked' : '' %>>
              <label for="search-person">
                <i class="fa fa-square-o" aria-hidden="true"></i>
                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                Personas físicas
              </label>
            </div>

            <div class="table-cell">
              <input type="checkbox" id="search-dependencies" <%= searchOptions.dependency ? 'checked' : '' %>> 
              <label for="search-dependencies">
                <i class="fa fa-square-o" aria-hidden="true"></i>
                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                Poder ejecutivo nacional
              </label>
            </div>
          </div>

          <div class="table-row">
            <div class="table-cell">
              <input type="checkbox" id="search-representation" <%= searchOptions.represented ? 'checked' : '' %>>
              <label for="search-representation">
                <i class="fa fa-square-o" aria-hidden="true"></i>
                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                Tipo de carácter de representación
              </label>
            </div>

            <div class="table-cell">
              <input type="checkbox" id="search-summary" <%= searchOptions.texts ? 'checked' : '' %>>
              <label for="search-summary">
                <i class="fa fa-square-o" aria-hidden="true"></i>
                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                Sintesis o motivos
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="total-count">  
    <% if (audiencias.globals.results) { %>
      Se encontraron <%= audiencias.globals.results.total %> resultados
    <% } %>
  </div>
</div>
