<div class="search-title">
  Registro Único de Audiencias de Gestión de Intereses del Poder Ejecutivo Nacional
</div>

<% var searchOptions = audiencias.globals.results ? audiencias.globals.results.options : null %>

<div class="search-form">

  <div class="search-input">
    <% var searchValue = searchOptions ? searchOptions.q : '' %>
    <input type="text" id="search-text" placeholder="Buscar por funcionarios, dependencias, participantes de audiencias" value="<%= searchValue %>">
    <button class="green" id="submit-search">BUSCAR</button>
  </div>

  <% var advanceSearch = searchOptions ? !!(searchOptions.desde || searchOptions.hasta || searchOptions['buscar-persona'] || searchOptions['buscar-pen'] || searchOptions['buscar-representado'] || searchOptions['buscar-textos']) : false  %>
  <div class="advance-search-container">
    <input type="checkbox" id="show-advance-search" <%= advanceSearch ? 'checked' : '' %>>
    <label class="show-advance-search-label" for="show-advance-search">
      <img src="/assets/icon-marcador-derecha-blanco.svg" class="advance-search-icon">
      Personalizá tu búsqueda
    </label>

    <div class="advance-search">
      <div class="search-option">
        <div class="search-description">
          Rango de fechas
        </div>
        <input type="text" id="date-from" placeholder="Desde" class="date-input">
        <input type="text" id="date-to" placeholder="Hasta" class="date-input">
      </div>
      <div class="search-option">
        <div class="search-description">
          Buscar solo por:
        </div>

        <div class="table">
          <div class="table-row">
            <div class="table-cell">
              <input type="checkbox" id="search-person" <%= searchOptions && searchOptions['buscar-persona'] ? 'checked' : '' %>>
              <label for="search-person">
                <img src="/assets/icon-check-blanco.svg" class="checked">
                <img src="/assets/icon-check-no-blanco.svg" class="not-checked">
                Personas físicas
              </label>
            </div>

            <div class="table-cell">
              <input type="checkbox" id="search-dependencies" <%= searchOptions && searchOptions['buscar-pen'] ? 'checked' : '' %>> 
              <label for="search-dependencies">
                <img src="/assets/icon-check-blanco.svg" class="checked">
                <img src="/assets/icon-check-no-blanco.svg" class="not-checked">
                Dependencias del Poder Ejecutivo Nacional
              </label>
            </div>
          </div>

          <div class="table-row">
            <div class="table-cell">
              <input type="checkbox" id="search-representation" <%= searchOptions && searchOptions['buscar-representado'] ? 'checked' : '' %>>
              <label for="search-representation">
                <img src="/assets/icon-check-blanco.svg" class="checked">
                <img src="/assets/icon-check-no-blanco.svg" class="not-checked">
                Entidades públicas/privadas
              </label>
            </div>

            <div class="table-cell">
              <input type="checkbox" id="search-summary" <%= searchOptions && searchOptions['buscar-textos'] ? 'checked' : '' %>>
              <label for="search-summary">
                <img src="/assets/icon-check-blanco.svg" class="checked">
                <img src="/assets/icon-check-no-blanco.svg" class="not-checked">
                Motivo o síntesis de la audiencia
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="total-count">  
    <% if (audiencias.globals.results) { %>
      Se encontraron <%= audiencias.globals.results.total %> resultado<%= audiencias.globals.results.total != 1 ? 's' : '' %>
      <% if (searchOptions && searchOptions.q && searchOptions.q.length > 0) { %>
        para "<%= searchOptions.q %>"
      <% } %>

      <% var viewingHistoric = !!audiencias.globals.results.options.historico  %>
      <div class="results-tabs">
        <a href="<%= linkCreator({pagina: null, historico: null}) %>">
          <div class="result-tab <%= viewingHistoric ? '' : 'selected' %>">Sistema actual (<%= audiencias.globals.results.audiences.total %>)</div>
        </a>
        <a href="<%= linkCreator({pagina: null, historico: 'si'}) %>">
          <div class="result-tab <%= viewingHistoric ? 'selected' : '' %>">Sistema anterior (<%= audiencias.globals.results.old_audiences.total %>)</div>
        </a>
      </div>
    <% } %>
  </div>
</div>
