<div class="search-title">
  Registro Único de Audiencias de Gestión de Intereses del Poder Ejecutivo Nacional
</div>
<div class="search-subtitle">
  Enunciado que invite a buscar por diferentes tipos, persona física, estructura o motivo de la audiencia
</div>

<% var selectedType = audiencias.globals.results ? audiencias.globals.results.type : '' %>

<div class="search-form <%= selectedType == 'historico' ? 'historic-search': '' %>">
  <div class="search-old-container">
    <input type="checkbox" id="search-old" <%= selectedType == 'historico' ? 'checked': '' %>>
    <label for="search-old">Incluir registros históricos</label>
  </div>

  <div class="search-input table ">
    <div class="table-cell search-text-container">
      <% var searchValue = audiencias.globals.results ? audiencias.globals.results.query : '' %>
      <input type="text" id="search-text" placeholder="Introduzca su busqueda" value="<%= searchValue %>">
    </div>
    <div class="table-cell search-type-container">
      <select id="search-type">
        <option disabled="disabled">
          Seleccionar tipo
        </option>
        <option value="texto" <%= selectedType == 'texto' ? 'selected': '' %>>
          Texto libre
        </option>
        <option value="persona-fisica" <%= selectedType == 'persona-fisica' ? 'selected': '' %>>
          Persona física
        </option>
        <option value="persona-juridica" <%= selectedType == 'persona-juridica' ? 'selected': '' %>>
          Persona juridica
        </option>
        <option value="organismo" <%= selectedType == 'organismo' ? 'selected': '' %>>
          Organismo estatal
        </option>
        <option value="grupo-de-personas" <%= selectedType == 'grupo-de-personas' ? 'selected': '' %>>
          Grupo de personas
        </option>
        <option value="estructura" <%= selectedType == 'estructura' ? 'selected': '' %>>
          Estructura
        </option>
        <option value="sintesis-o-motivo" <%= selectedType == 'sintesis-o-motivo' ? 'selected': '' %>>
          Sintesis o motivo
        </option>
      </select>
    </div>
    <div class="table-cell search-button-container">
      <button class="green" id="submit-search">BUSCAR</button>
    </div>
  </div>

  <div class="advance-search-container message-container">
    <div class="advance-search table">
      <div class="table-cell first">
        <input type="checkbox" id="show-advance-search">
        <label class="show-advance-search-label" for="show-advance-search">Busqueda avanzada ></label>
      </div>
      <% var date_from = audiencias.globals.results ? audiencias.globals.results.from : null %>
      <% var date_to = audiencias.globals.results ? audiencias.globals.results.to : null %>
      <div class="table-cell second date-container <%= date_from || date_to ? '' : 'invisible' %>">
        Buscar por fecha
        <div class="date-selectors">
          <input type="text" id="date-from" placeholder="Desde">
          <input type="text" id="date-to" placeholder="Hasta">
        </div>
      </div>
    </div>

    <div class="warning-message">
      <img src="/assets/icon-marcador-derecha-dorado.svg" class="warning-icon">
      Mensaje advirtiendo que si se busca en histórico disminuye la complejidad de la búsqueda. 
    </div>
  </div>

</div>
