<% for (var i=0; i<nodes.length; i++) { %>
  <% var node = nodes[i]; %>
  <% var selectedClass = node.get('selected') ? 'selected' : ''; %>
  <% var expandedClass = node.get('expanded') ? 'expanded' : 'collapsed'; %>
  <div class="dependency <%= selectedClass %> <%= expandedClass %>" 
    style="padding-left:<%= padding %>%" data-dependency-id="<%= node.get('id') %>">
    <img src="/assets/icon-marcador-derecha.svg">
    <span class="dependency-name">
      <%= node.get('name') %> 
    <span>
    <% if (node.get('obligee')) { %>
      <span class="obligee-name">
        | <%= node.get('obligee').person.name %> <%= node.get('obligee').person.surname %>
      </span>
    <% } %>
  </div>
  <% if (node.get('id')) { %>
    <% var childrenNodes = audiencias.globals.userDependencies.filter(function(d) { 
      return d.get('parent_id') == node.get('id');
    }) %>
    <div class="children">
      <%= template({ nodes: childrenNodes, padding: padding + 2, template: template}) %>
    </div>
  <% } %>
<% } %>

