<header class="header-shadow">
  <div class="header-content">


    <div class="logo-ministerio">
      <a href='/'>
        <%= image_tag 'logo-ministerio' %>
      </a>
    </div>

    <div class="user-menu">
      <% if @current_user %>

        <div class="user-dropdown-menu">
          <span class="user-icon">
            <%= initials(@current_user) %>
          </span>

          <span class="username">
            <%= @current_user[:name] %>
            <%= @current_user[:surname] %>
          </span>

          <i class="material-icons">&#xE313;</i>

          <ul class="hidden-menu">
            <a href="#">
              <li>
                PERFIL
              </li>
            </a>
            <a href="#">
              <li>
                CONFIGURACIÓN
              </li>
            </a>
            <a href="#">
              <li>
                AYUDA
              </li>
            </a>
            <a href="<%= logout_path %>">
              <li>
                CERRAR SESION
              </li>
            </a>
          </ul>

        </div>

        

      <% end %>
    </div>

  </div>
</header>