<!DOCTYPE html>
<html>
<head>
  <title>Audiencias</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>

<header id="main-header">
  <div class="header-content">
    <%= image_tag 'logo-ministerio', class: 'logo-ministerio' %>
  </div>
</header>

<div id="main-content">
  <%= yield %>
</div>

</body>
</html>
