<% var audienceIsSaved = !!audience.get('id'); %>
<% var currentStep = audience.get('currentStep'); %>

<div id="audience-editor-container">
  
  <div id="audience-editor-navigation">
    <div id="go-back">
      <% var obligee = audiencias.globals.obligees.currentObligee() %>
      <a href="/intranet/audiencias?sujeto_obligado=<%= obligee.get('id') %>">
        <img src="/assets/icon-volver.svg">
        VOLVER
      </a>
    </div>

    <div id="steps-container">
      <div id="audience-editor-steps">
        <div class="step">
          SUJETO OBLIGADO
        </div>
        <div class="step">
          SOLICITANTE
        </div>
        <% 
          var audienceClass; var previewClass;
          if (audienceIsSaved) {
            audienceClass = currentStep == 'applicant' ? 'incomplete' : '';
            previewClass = currentStep == 'preview' ? '' : 'incomplete';
          } else {
            audienceClass = 'inactive';
            previewClass = 'inactive';
          } 
        %>
        <div class="step <%= audienceClass %>">
          AUDIENCIA
        </div>
        <div class="step <%= previewClass %>">
          PREVISUALIZACIÓN
        </div>
      </div>
    </div>
  </div>

  <div id="editor-sections"></div>

  <div id="audience-editor-actions">
  <% if (audienceIsSaved) { %>
    <% if (currentStep == 'applicant') { %> 
      <button id="back-to-list">DEJAR EN PROCESO</button>
      <button id="go-to-info">IR A DATOS AUDIENCIA</button>
    <% } else if (currentStep == 'info') { %>
      <button id="go-to-applicant" class="">VOLVER AL SOLICITANTE</button>
      <button id="back-to-list">DEJAR EN PROCESO</button>
      <button id="preview-audience" class="">PREVISUALIZAR</button>
    <% } else { %>
      <button id="modify-audience" class="">MODIFICAR</button>
      <button id="back-to-list">DEJAR EN PROCESO</button>
      <% var publishClass = audience.get('state') == 'valid' ? '': 'disabled' %>
      <button id="publish-audience" class="<%= publishClass %>" <%= publishClass %> >PUBLICAR</button>
    <% } %>
  <% } else { %>
    <button id="cancel-audience">CANCELAR</button>
    <button id="back-to-list" class="disabled" disabled>DEJAR EN PROCESO</button>
    <button id="go-to-info" class="disabled" disabled>IR A DATOS AUDIENCIA</button>
  <% } %>

    
  </div>
</div>
