<div id="audience-editor-container">
  
  <div id="audience-editor-navigation">
    <div id="go-back">
      <% var obligee = audiencias.globals.obligees.currentObligee() %>
      <a href="/intranet/audiencias?sujeto_obligado=<%= obligee.get('id') %>">
        VOLVER
      </a>
    </div>

    <div id="steps-container">
      <div id="audience-editor-steps">
        <div class="step">
          SUJETO OBLIGADO
        </div>
        <div class="step">
          SOLICITANTE
        </div>
        <% var currentStep = audience.get('currentStep'); %>
        <div class="step <%= currentStep == 'participants' ? 'incomplete' : '' %>">
          AUDIENCIA
        </div>
        <div class="step <%= currentStep == 'participants' ? 'inactive' : currentStep == 'audience' ? 'incomplete' : '' %>">
          PREVISUALIZACIÓN
        </div>
      </div>
    </div>
  </div>

  <div id="editor-sections"></div>

  <div id="audience-editor-actions">
    <button id="previous-step">VOLVER</button>
    <button id="back-to-list">DEJAR EN PROCESO</button>
    <button id="next-step" class="<%= currentStep != 'participants' ? 'hidden' : '' %>">SIGUIENTE</button>
    <button id="preview-audience" class="<%= currentStep != 'audience' ? 'hidden' : '' %>">PREVISUALIZAR</button>
    <button id="publish-audience" class="<%= currentStep != 'preview' ? 'hidden' : '' %>">PUBLICAR</button>
  </div>
</div>
