<div class="header-table">
  <div class="table-row">
    <div class="table-cell spacer"></div>
    <div class="table-cell creation-date">
      <div class="overflow-ellipsis">
      Fecha de creación
      </div>
    </div>
    <div class="table-cell author">Usuario</div>
    <div class="table-cell applicant">Solicitante</div>
    <div class="table-cell represented">
      <div class="overflow-ellipsis">
        Se presentó como
      </div>
    </div>
    <div class="table-cell audience-date">Fecha - Hora</div>
    <div class="table-cell motif">Motivo</div>
    <div class="table-cell status">Estado</div>
    <div class="table-cell spacer"></div>
  </div>
</div>


<div class="nano">
  <div class="nano-content">
    <div class="audience-table">
      <% for (var i=0; i<audiences.length; i++) { %>
        <% var audience = audiences[i]; %>
        <% var isFromAnotherObligee = audience.obligee && audience.obligee.id != audiencias.globals.currentObligee %>
        <div class="table-row <%= audience.published ? 'published' : '' %> <%= isFromAnotherObligee ? 'from-another-obligee' : '' %>" data-audience-id="<%= audience.id %>">
          <div class="table-cell spacer"></div>
          
          <% var creationDate = new Date(audience.created_at); %>
          <% var year = creationDate.getFullYear().toString(); %>
          <% var month = (creationDate.getMonth() + 1).toString() %>
          <% month = month.length > 1 ? month : '0' + month %>
          <% var day = creationDate.getDate().toString() %>
          <% day = day.length > 1 ? day : '0' + day %>
          <div class="table-cell creation-date"> 
            <div class="cell-content overflow-ellipsis">
              <%= day %>/<%= month %>/<%= year %>
            </div>
          </div>
          
          <div class="table-cell author">
            <div class="cell-content overflow-ellipsis">
              <% if (isFromAnotherObligee) { %>
                <%= audience.obligee && audience.obligee.person ? audience.obligee.person.name : '' %>
              <% } else { %> 
                <%= audience.author.name %>
              <% } %>
            </div>
          </div>
          <div class="table-cell applicant">
            <div class="cell-content">
            <% if (audience.applicant && audience.applicant.person) { %>
              <p class="applicant-name overflow-ellipsis"><%= audience.applicant.person.name %></p>
              <p class="applicant-position overflow-ellipsis"><%= audience.applicant.ocupation %></p>
              <p class="applicant-email overflow-ellipsis"><%= audience.applicant.person.email %></p>
            <% } %>
            </div>
          </div>
          <div class="table-cell represented">
            <div class="cell-content">
              <% if (audience.applicant && audience.applicant.represented_person) { %>
                <p class="represented-name overflow-ellipsis"><%= audience.applicant.represented_person.name %></p>
                <p class="represented-type overflow-ellipsis">REPRESENTANTE DE PERSONA FÍSICA</p>

              <% } else if (audience.applicant && audience.applicant.represented_legal_entity) { %>
                <p class="represented-name overflow-ellipsis"><%= audience.applicant.represented_legal_entity.name %></p>
                <p class="represented-type overflow-ellipsis">REPRESENTANTE DE PERSONA JURÍDICA</p>

              <% } else if (audience.applicant && audience.applicant.represented_state_organism) { %>
                <p class="represented-name overflow-ellipsis"><%= audience.applicant.represented_state_organism.name %></p>
                <p class="represented-type overflow-ellipsis">REPRESENTANTE DE ORGANISMO ESTATAL</p>

              <% } else if (audience.applicant && audience.applicant.represented_people_group) { %>
                <p class="represented-name overflow-ellipsis"><%= audience.applicant.represented_people_group.name %></p>
                <p class="represented-type overflow-ellipsis">REPRESENTANTE DE GRUPO DE PERSONAS</p>
              <% } %>
            </div>
          </div>
          <div class="table-cell audience-date">
            <div class="cell-content overflow-ellipsis">
              <%     
              var dateString = '';
              var timeString = '';
              var date = new Date(audience.date);
              var dateIsValid = !isNaN(date.getTime());
              if (audience.date && dateIsValid) {
                var year = date.getFullYear();
                var month = (date.getMonth() + 1).toString();
                month = month.length > 1 ? month : '0' + month;
                var day = date.getDate().toString();
                day = day.length > 1 ? day : '0' + day;
                var hour = date.getHours().toString();
                hour = hour.length > 1 ? hour : '0' + hour;
                var minutes = date.getMinutes().toString();
                minutes = minutes.length > 1 ? minutes : '0' + minutes;
                dateString = day + '/' + month + '/' + year; 
                timeString = hour + ':' + minutes;
              }
              %>
              <div><%= dateString %></div>
              <div><%= timeString %></div>
            </div>
          </div>
          <div class="table-cell motif">
            <div class="cell-content overflow-ellipsis">
              <% 
              var motif;
              if (audience.motif && audience.motif.length > 0) {
                if (audience.motif.length > 100) {
                  motif = audience.motif.substr(0, 100) + '...'
                } else {
                  motif = audience.motif;
                }
              } else {
                motif = '';
              }
              %>
              <%= motif %>
            </div>
          </div>
          <div class="table-cell status">
            <div class="cell-content">
              <% if (audience.published) { %>
                <div>Audiencia Publicada</div>
                <img src="/assets/icon-check-audiencia-oscuro.svg" class="published-checked">
              <% } else if (isFromAnotherObligee) { %>
                En proceso de carga <%= audience.obligee && audience.obligee.person ? 'por ' + audience.obligee.person.name : '' %>
              <% } else { %>
                <a href="/intranet/editar_audiencia?audiencia=<%= audience.id %>">
                  <button class="edit-audience">EDITAR</button>
                </a>
                <button class="delete-audience grey" data-audience-id="<%= audience.id %>">BORRAR</button>
              <% } %>
            </div>
          </div>
          <div class="table-cell spacer"></div>
        </div>
      <% } %>
    </div>

    <% var pagination = audiencias.globals.pagination; %>
    <% if (pagination.total_audiences > pagination.per_page) { %>
      <div class="pagination">
        <% var current_page = pagination.current_page %>
        <% var total_pages = pagination.total_pages %>
        <% var minPage = current_page - 4 > 1 ? current_page - 4 : 1%>
        <% var maxPage = current_page + 5 <= total_pages ? current_page + 5 : total_pages + 1 %>
        <% var obligee = audiencias.globals.currentObligee %>
        
        <% if (current_page > 1) { %>
          <a href="/intranet/audiencias?sujeto_obligado=<%= obligee %>&pagina=<%= current_page - 1 %>">
            <span class="pagination-link">«</span>
          </a>
        <% } %>
        
        <% for (var i=minPage; i<maxPage; i++) { %>
          <% if (i != current_page) { %>
            <a href="/intranet/audiencias?sujeto_obligado=<%= obligee %>&pagina=<%= i %>">
              <span class="pagination-link"><%= i %></span>
            </a>
          <% } else { %>
            <span class="pagination-link current-page"><%= i %></span>
          <% } %>
        <% } %>

        <% if (current_page < total_pages) { %>
          <a href="/intranet/audiencias?sujeto_obligado=<%= obligee %>&pagina=<%= current_page + 1 %>">
            <span class="pagination-link">»</span>
          </a>
        <% } %>

      </div>
    <% } %>
    
  </div>
</div>

<div class="preview hidden close-preview">
  <div class="preview-wrapper">
    <div class="preview-content">
      <div class="preview-container"></div>
      <div class="close-button-container">
        <button class="close-preview close-button">CERRAR</button>
      </div>  
    </div>
  </div>
</div>
