<div id="navigation-spacer">

  <div id="navigation-left">
    <div id="current-obligee">
      <p>Estas viendo las audiencias de</p>
      <% var obligees = audiencias.globals.obligees.toJSON() %>
      <% var currentObligee = audiencias.globals.currentObligee %>
      <select>
        <% for (var i=0; i<obligees.length; i++) { %>
          <% var obligee = obligees[i]; %>
            <option value="<%= obligee.id %>" <%= currentObligee == obligee.id ? 'selected': '' %>>
              <%= obligee.person.name %> <%= obligee.person.surname %>
            </option>
        <% } %>
      </select>
    </div>
    <a href="/intranet/audiencias/<%= currentObligee %>/carga">
      <button>CARGAR AUDIENCIA</button>
    </a>
  </div>

  <div id="navigation-right">
    <div id="audience-text-search-container" class="<%= searchType != 'text' ? 'hidden': '' %>">
      <input type="text" placeholder="Buscar por palabra clave">
      <img src="/assets/icon-search.svg" id="search-icon">
    </div>

    <div id="audience-date-search-container" class="<%= searchType != 'date' ? 'hidden': '' %>">
      Date search
    </div>

    <div id="search-type-selection">
      <label for="search-by-text">Palabra clave</label>
      <input type="radio" name="search-type" id="search-by-text" class="search-type-radio"
        <%= searchType == 'text' ? 'checked' : '' %> value="text">
      <label for="search-by-date">Rango de fecha</label>
      <input type="radio" name="search-type" id="search-by-date" class="search-type-radio"
        <%= searchType == 'date' ? 'checked' : '' %> value="date">
    </div>
  </div>

</div>


