<div id="navigation-spacer">

  <div id="navigation-left">
    <div id="current-obligee">
      <p>Estas viendo las audiencias de</p>
      <% var obligees = audiencias.globals.obligees.toJSON() %>
      <% var currentObligee = audiencias.globals.currentObligee %>
      <% if (obligees.length > 1) { %>
        <select id="current-obligee-select">
          <% for (var i=0; i<obligees.length; i++) { %>
            <% var obligee = obligees[i]; %>
              <option value="<%= obligee.id %>" <%= currentObligee == obligee.id ? 'selected': '' %>>
                <%= obligee.person.name %>
              </option>
          <% } %>
        </select>
      <% } else if (obligees.length == 1) { %>
        <span class="unique-current-obligee">
          <%= obligees[0].person.name %>
        </span>
      <% } %>
    </div>
    <a href="/intranet/nueva_audiencia?sujeto_obligado=<%= currentObligee %>">
      <button>CARGAR AUDIENCIA</button>
    </a>
  </div>

  <div id="navigation-right">
    <div id="audience-text-search-container">
      <input type="text" placeholder="Buscar por palabra clave" id="search">
      <img src="/assets/icon-search.svg" id="search-icon">
    </div>
  </div>

</div>


