<div class="header-table">
  <div class="table-row">
    <div class="table-cell spacer"></div>
    <div class="table-cell creation-date">Fecha de creación</div>
    <div class="table-cell author">Usuario</div>
    <div class="table-cell applicant">Solicitante</div>
    <div class="table-cell represented">Se presentó como</div>
    <div class="table-cell audience-date">Fecha - Hora</div>
    <div class="table-cell motif">Motivo</div>
    <div class="table-cell status">Estado</div>
    <div class="table-cell spacer"></div>
  </div>
</div>

<div class="audience-table">
  <% for (var i=0; i<audiences.length; i++) { %>
    <% var audience = audiences[i]; %>
    <div class="table-row">
      <div class="table-cell spacer"></div>
      
      <% var creationDate = new Date(audience.created_at); %>
      <% var year = creationDate.getFullYear().toString(); %>
      <% var month = (creationDate.getMonth() + 1).toString() %>
      <% month = month.length > 1 ? month : '0' + month %>
      <% var day = creationDate.getDate().toString() %>
      <% day = day.length > 1 ? day : '0' + day %>
      <div class="table-cell creation-date"> 
        <%= day %>-<%= month %>-<%= year %>
      </div>
      
      <div class="table-cell author">
        <%= audience.author.name %> <%= audience.author.surname %>
      </div>
      <div class="table-cell applicant">
        <% if (audience.applicant && audience.applicant.person) { %>
          <p class="applicant-name"><%= audience.applicant.person.name %> <%= audience.applicant.person.surname %></p>
          <p class="applicant-email"><%= audience.applicant.person.email %></p>
        <% } %>
      </div>
      <div class="table-cell represented">
        <%= audience.applicant.role %>
      </div>
      <div class="table-cell audience-date">
        <%     
        var dateString = '';
        var date = new Date(audience.date);
        var dateIsValid = !isNaN(date.getTime());
        if (audience.date && dateIsValid) {
          var year = date.getFullYear();
          var month = (date.getMonth() + 1).toString();
          month = month.length > 1 ? month : '0' + month;
          var day = date.getDate().toString();
          day = day.length > 1 ? day : '0' + day;
          var hour = date.getHours().toString();
          hour = hour.length > 1 ? hour : '0' + hour;
          var minutes = date.getMinutes().toString();
          minutes = minutes.length > 1 ? minutes : '0' + minutes;
          dateString = day + '/' + month + '/' + year + ' ' + hour + ':' + minutes;
        }
        %>
        <%= dateString %>
      </div>
      <div class="table-cell motif">
        <%= audience.motif %>
      </div>
      <div class="table-cell status">
        <% if (audience.published) { %>
        <% } else { %>
          <a href="/intranet/editar_audiencia?audiencia=<%= audience.id %>">
            <button class="edit-audience">EDITAR</button>
          </a>
          <button class="delete-audience">BORRAR</button>
        <% } %>
      </div>
      <div class="table-cell spacer"></div>
    </div>
  <% } %>
    <div class="table-row">
      <div class="table-cell spacer"></div>
      <div class="table-cell creation-date"></div>
      <div class="table-cell author"></div>
      <div class="table-cell applicant"></div>
      <div class="table-cell represented"></div>
      <div class="table-cell audience-date"></div>
      <div class="table-cell motif"></div>
      <div class="table-cell status"></div>
      <div class="table-cell spacer"></div>
    </div>
</div>
