<div class="header-table">
  <div class="table-row">
    <div class="table-cell spacer"></div>
    <div class="table-cell creation-date">Fecha de creación</div>
    <div class="table-cell author">Usuario</div>
    <div class="table-cell applicant">Solicitante</div>
    <div class="table-cell represented">Se presentó como</div>
    <div class="table-cell audience-date">Fecha - Hora</div>
    <div class="table-cell motif">Motivo</div>
    <div class="table-cell status">Estado</div>
    <div class="table-cell spacer"></div>
  </div>
</div>

<div class="audience-table">
  <% for (var i=0; i<audiences.length; i++) { %>
    <% var audience = audiences[i]; %>
    <div class="table-row <%= audience.published ? 'published' : '' %>" data-audience-id="<%= audience.id %>">
      <div class="table-cell spacer"></div>
      
      <% var creationDate = new Date(audience.created_at); %>
      <% var year = creationDate.getFullYear().toString(); %>
      <% var month = (creationDate.getMonth() + 1).toString() %>
      <% month = month.length > 1 ? month : '0' + month %>
      <% var day = creationDate.getDate().toString() %>
      <% day = day.length > 1 ? day : '0' + day %>
      <div class="table-cell creation-date"> 
        <%= day %>-<%= month %>-<%= year %>
      </div>
      
      <div class="table-cell author">
        <%= audience.author.name %> <%= audience.author.surname %>
      </div>
      <div class="table-cell applicant">
        <% if (audience.applicant && audience.applicant.person) { %>
          <p class="applicant-name"><%= audience.applicant.person.name %> <%= audience.applicant.person.surname %></p>
          <p class="applicant-email"><%= audience.applicant.person.email %></p>
        <% } %>
      </div>
      <div class="table-cell represented">
        <% if (audience.applicant && audience.applicant.represented_person) { %>
          <p class="represented-name"><%= audience.applicant.represented_person.name %> <%= audience.applicant.represented_person.surname %></p>
          <p class="represented-type">REPRESENTANTE DE PERSONA FÍSICA</p>

        <% } else if (audience.applicant && audience.applicant.represented_legal_entity) { %>
          <p class="represented-name"><%= audience.applicant.represented_legal_entity.name %></p>
          <p class="represented-type">REPRESENTANTE DE PERSONA JURÍDICA</p>

        <% } else if (audience.applicant && audience.applicant.represented_state_organism) { %>
          <p class="represented-name"><%= audience.applicant.represented_state_organism.name %></p>
          <p class="represented-type">REPRESENTANTE DE ORGANISMO ESTATAL</p>

        <% } else if (audience.applicant && audience.applicant.represented_people_group) { %>
          <p class="represented-name"><%= audience.applicant.represented_people_group.name %></p>
          <p class="represented-type">REPRESENTANTE DE GRUPO DE PERSONAS</p>
        <% } %>
      </div>
      <div class="table-cell audience-date">
        <%     
        var dateString = '';
        var date = new Date(audience.date);
        var dateIsValid = !isNaN(date.getTime());
        if (audience.date && dateIsValid) {
          var year = date.getFullYear();
          var month = (date.getMonth() + 1).toString();
          month = month.length > 1 ? month : '0' + month;
          var day = date.getDate().toString();
          day = day.length > 1 ? day : '0' + day;
          var hour = date.getHours().toString();
          hour = hour.length > 1 ? hour : '0' + hour;
          var minutes = date.getMinutes().toString();
          minutes = minutes.length > 1 ? minutes : '0' + minutes;
          dateString = day + '/' + month + '/' + year + ' ' + hour + ':' + minutes;
        }
        %>
        <%= dateString %>
      </div>
      <div class="table-cell motif">
        <%= audience.motif %>
      </div>
      <div class="table-cell status">
        <% if (audience.published) { %>
          Audiencia Publicada
          <img src="/assets/icon-check-audiencia-oscuro.svg" class="published-checked">
        <% } else { %>
          <a href="/intranet/editar_audiencia?audiencia=<%= audience.id %>">
            <button class="edit-audience">EDITAR</button>
          </a>
          <button class="delete-audience" data-audience-id="<%= audience.id %>">BORRAR</button>
        <% } %>
      </div>
      <div class="table-cell spacer"></div>
    </div>
  <% } %>
</div>

<% var pagination = audiencias.globals.pagination; %>
<% if (pagination.total_audiences > pagination.per_page) { %>
  <div class="pagination">
    <% var current_page = pagination.current_page %>
    <% var total_pages = pagination.total_pages %>
    <% var minPage = current_page - 4 > 1 ? current_page - 4 : 1%>
    <% var maxPage = current_page + 5 <= total_pages ? current_page + 5 : total_pages + 1 %>
    <% var obligee = audiencias.globals.currentObligee %>
    
    <% if (current_page > 1) { %>
      <a href="/intranet/audiencias?sujeto_obligado=<%= obligee %>&pagina=<%= current_page - 1 %>">
        <span class="pagination-link">«</span>
      </a>
    <% } %>
    
    <% for (var i=minPage; i<maxPage; i++) { %>
      <% if (i != current_page) { %>
        <a href="/intranet/audiencias?sujeto_obligado=<%= obligee %>&pagina=<%= i %>">
          <span class="pagination-link"><%= i %></span>
        </a>
      <% } else { %>
        <span class="pagination-link current-page"><%= i %></span>
      <% } %>
    <% } %>

    <% if (current_page < total_pages) { %>
      <a href="/intranet/audiencias?sujeto_obligado=<%= obligee %>&pagina=<%= current_page + 1 %>">
        <span class="pagination-link">»</span>
      </a>
    <% } %>

  </div>
<% } %>

<div class="preview hidden">
  <div class="preview-content">
    <div class="preview-container"></div>
    <img src="/assets/icon-cancelar.svg" class="close-img close-preview">
    <div class="close-button-container">
      <button class="close-preview close-button">CERRAR</button>
    </div>  
  </div>
</div>
